<footer class="
 p-8 mx-auto max-w-6xl">

            <div>
              <span
                class=" inline-flex h-12 w-12 items-center justify-center rounded-md bg-[#6A4BFF] text-white font-semibold text-xl">A</span>
            </div>
            <div class="grid grid-cols-3 gap-24">
              <div>
                <h1 class="font-bold text-gray-900 text-2xl mt-4">Alpha Drive</h1>
                <p class="mt-4 mb-4">Alpha Drive gives you secure access <br> to all your files.</p>
                <br>
                <div class="flex gap-4">
                  <h1>IMG</h1>
                  <p>alpha@drive.com</p>
                </div>
                <div class="flex gap-4">
                  <h1>IMG</h1>
                  <p>alpha@drive.com</p>
                </div>
                <div class="flex gap-4">
                  <h1>IMG</h1>
                  <p>alpha@drive.com</p>
                </div>
                </div>
                <div class="flex-col flex">
                  <h3 class="text-gray-900 font-bold mb-2 text-lg">Sitemap</h3>
                  <div class="flex flex-col gap-4">
                    <a href="">Home</a>
                    <a href="">Features</a>
                    <a href="">Plans & Pricing</a>
                    <a href="">Contact</a>
                  </div>


                </div>
                <div>
                  <h3 class="ext-gray-900 font-bold mb-2 text-lg">Social Media</h3>
                  <div class="flex gap-2">
                    <h1>IMG1</h1>
                    <h1>IMG2</h1>
                    <h1>IMG3</h1>
                  </div>
                </div>
              </div>
            </div>

            </div>
          </footer>