<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alpha Drive</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
        <header class="p-6 m-w-6xl">
        <a href="/" class="flex items-center gap-3">
            <span
                class="inline-flex h-8 w-8 items-center justify-center rounded-md bg-[#6A4BFF] text-white font-semibold">A</span>
            <span class="text-lg font-semibold">Alpha Drive</span>
        </a>
    </header>

    <div class="flex">
        <div>
            <h1>Create a <br>
                new account
            </h1>
            <p>Alpha Drive gives you secure access to all your files.<br>
             Collaborate with friends, family, and <br> coworrkers from any device.</p>
        </div>
        <div>
            <form action="" class="">
                <label for="fullname">Fullname <span class="text-red-500">*</span></label>
                <input type="fullname" placeholder="Full Name" class="px-4 py-2 border">
                 <label for="email">Email <span class="text-red-500">*</span></label>
                <input type="email" placeholder="Email" class="px-4 py-2 border">
                 <label for="password">Password <span class="text-red-500">*</span></label>
                <input type="passwordconfirmation" placeholder="Password Confirmation" class="px-4 py-2 border">
                 <label for="fullname">Fullname <span class="text-red-500">*</span></label>
                <input type="fullname" placeholder="Full Name" class="px-4 py-2 border">
                <input type="checkbox"> <span>I have read and agree to the Terms of conditions</span>
                <button class="px-6 py-2 bg-green-100">Sign Up</button>
            </form>
        </div>
    </div>
</body>
</html>